<div class="loading-container " *ngIf="isLoading">
    <!-- Skeleton Loading -->
    <div class="skeleton-nav">
        <div class="skeleton-pill" *ngFor="let i of [1,2,3,4,5]"></div>
    </div>
    <div class="skeleton-grid">
        <div class="skeleton-card" *ngFor="let i of [1,2,3,4,5,6]">
            <div class="skeleton-img"></div>
            <div class="skeleton-text-group">
                <div class="skeleton-title"></div>
                <div class="skeleton-desc"></div>
                <div class="skeleton-price"></div>
            </div>
        </div>
    </div>
</div>

<div class="nav-background sticky" *ngIf="!isLoading">
    <div class="container category-nav">
        <button *ngFor="let cat of categories" [class.active]="selectedCategory === cat"
            (click)="scrollToCategory(cat)">
            {{ cat }}
        </button>
    </div>
</div>

<div class="container menu-container">
    <div *ngFor="let cat of categories" [id]="cat" class="category-section">
        <h2 class="category-title">{{ cat }}</h2>
        <div class="menu-grid">
            <app-menu-item *ngFor="let item of getItemsByCategory(cat)" [item]="item"
                (selected)="openProductDetails($event)">
            </app-menu-item>
        </div>
    </div>
</div>

<app-product-details *ngIf="selectedItem" [item]="selectedItem" (close)="closeProductDetails()">
</app-product-details>